* {
  margin:0;
  padding:0;
  box-sizing:border-box;
 } 
@font-face {
    font-family: 'matchbookregular';
    src: url('../fonts/matchbook-webfont.eot');
    src: url('../fonts/matchbook-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/matchbook-webfont.woff2') format('woff2'),
         url('../fonts/matchbook-webfont.woff') format('woff'),
         url('../fonts/matchbook-webfont.ttf') format('truetype'),
         url('../fonts/matchbook-webfont.svg#matchbookregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'risqueregular';
    src: url('../fonts/risque-regular-webfont.eot');
    src: url('../fonts/risque-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/risque-regular-webfont.woff2') format('woff2'),
         url('../fonts/risque-regular-webfont.woff') format('woff'),
         url('../fontsrisque-regular-webfont.ttf') format('truetype'),
         url('../fonts/risque-regular-webfont.svg#risqueregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'astrud';
    src: url('../fonts/astrud-webfont.eot');
    src: url('../fonts/astrud-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/astrud-webfont.woff2') format('woff2'),
         url('../fonts/astrud-webfont.woff') format('woff'),
         url('../fonts/astrud-webfont.ttf') format('truetype'),
         url('../fonts/astrud-webfont.svg#astrud') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'typographica';
    src: url('../fonts/typographica-webfont.eot');
    src: url('../fonts/typographica-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/typographica-webfont.woff2') format('woff2'),
         url('../fonts/typographica-webfont.woff') format('woff'),
         url('../fonts/typographica-webfont.ttf') format('truetype'),
         url('../fonts/typographica-webfont.svg#typographica') format('svg');
    font-weight: normal;
    font-style: normal;
}
body {
  background: #F8E8C6;
  color: #F64B05;
}
header{ 
  height:10000px;
  z-index:-1;
  width: 75%;
  position: relative;
  margin-right: auto;
  margin-left: auto;
}
#navtop {
  display:none;
  position:fixed;
  height: auto;
  width:100%; 
  background-color: #588AAD;
  color:#F8E8C6;
  z-index:9999;
}
ul {
  list-style: none;
  float: right;
}
ul li {
  display: block;
  float: left;
}
 li ul {
  display: none;
}
.submenu1 {
  position:absolute;
  overflow: auto;
}
ul li a {
  display: block;
  padding: .2em .5em .5em 0;
  font-family:'risqueregular', 'Arial Black';
  font-size: 36px;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  white-space: nowrap;
  color: #F8E8C6;
  margin:0;
  position:relative;
}
ul li a:hover {
  background: #F64B05;
  display: block;
}
li:hover ul {
  display: block; 
}
li:hover li {
  float: none;
}
li:hover a {
  background: #588AAD;
}
li:hover li a:hover {
  background: #F64B05;
}
#logo {
  text-decoration: none;
  float: left;
 } 
div {
  height:100%;
  float:left;
  font-size:6em;
  font-family:'astrud', 'Arial Black';
}
#first {
  background:#E8AE04;
  width:25%;
}
#middle {
  background:#588AAD;
  width:25%;
}
#see {
  background:#F8E8C6;
  width:25%;
}
#last {
  background:#F64B05;
  width:25%;
}
p {
  color:#fbeace;
  line-height:.77em;
  text-decoration: none;
  display:block;
}
#first p{
  background:#588AAD;
  padding-top:.5em;
}
#middle p{
  background:#F64B05;
  padding-top:1.5em;
}
#see p{
  background:#588AAD;
}
#see img{
  overflow:hidden;
  width:100%;
  height:100%;
}
#last p{
  background:#E8AE04;
  padding-top:.66em;
}
#subnav {
  margin-top: 0;
  float: left;
  width: 100%;
  background-color:#588AAD;
}
#subnav ul {
  list-style-type: none;
  width:100%;
  margin-top:0;
  position: relative;
  float: left;
  font-size: 24px;
  background-color: #588AAD;
}
#subnav li {
  float: left;
  margin-top:0;
  background-color: #588AAD;
}
.clearfix-after {
  font-size: 0;
  height: 0;
  visibility: hidden;
  content: "";
  clear: both;
  overflow: auto;
}